# Ignore sensitive configuration files
.env

# Ignore Composer dependencies
/vendor/

# Ignore XAMPP, IDE, and OS-specific files and folders
.DS_Store         # macOS
Thumbs.db         # Windows
*.log             # Log files
.vscode/          # Visual Studio Code settings
.idea/            # PhpStorm and WebStorm settings
_notes            # XAMPP notes

# Ignore cache and temporary files
/storage/cache/
storage/logs/
tmp/

# Ignore other unnecessary or sensitive files
phpunit.xml
